hdt-qs-backend/target/
hdt-qs-backend/*.iml
hdt-qs-backend/.idea/
hdt-qs-backend/qendpoint/hdt-store/
hdt-qs-backend/qendpoint/native-store/
hdt-qs-backend/COMPILER_SCHEMA.MD
hdt-qs-backend/qendpoint/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
hdt-qs-frontend/node_modules
hdt-qs-frontend/.pnp
hdt-qs-frontend/.pnp.js
.DS_Store
# testing
hdt-qs-frontend/coverage

# production
hdt-qs-frontend/build

# misc
hdt-qs-frontend/.DS_Store
hdt-qs-frontend/.env.local
hdt-qs-frontend/.env.development.local
hdt-qs-frontend/.env.test.local
hdt-qs-frontend/.env.production.local

hdt-qs-frontend/npm-debug.log*
hdt-qs-frontend/yarn-debug.log*
hdt-qs-frontend/yarn-error.log*

scripts/build

.idea
data
.nvmrc
