qendpoint-store/qendpoint/hdt-store/
qendpoint-store/qendpoint/native-store/
qendpoint-store/COMPILER_SCHEMA.MD
qendpoint-store/tests/
qendpoint-store/target/
qendpoint-store/*.iml
qendpoint-store/.idea/
qendpoint-backend/tests/
qendpoint-backend/target/
qendpoint-backend/*.iml
qendpoint-backend/.idea/
qendpoint-backend/src/main/resources/static/
qendpoint-backend/qendpoint/hdt-store/
qendpoint-backend/qendpoint/native-store/
qendpoint-backend/qendpoint/
qendpoint-qendpoint/tests/
qendpoint-core/tests/
qendpoint-core/target/
qendpoint-core/*.iml
qendpoint-core/.idea/
qendpoint-cli/target/
qendpoint-cli/*.iml
qendpoint-cli/.idea/
/qendpoint/
/tests/
/dump/
/latest_dump/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
qendpoint-frontend/node_modules
qendpoint-frontend/.pnp
qendpoint-frontend/.pnp.js
.DS_Store
# testing
qendpoint-frontend/coverage

# production
qendpoint-frontend/build

# misc
qendpoint-frontend/.DS_Store
qendpoint-frontend/.env.local
qendpoint-frontend/.env.development.local
qendpoint-frontend/.env.test.local
qendpoint-frontend/.env.production.local

qendpoint-frontend/npm-debug.log*
qendpoint-frontend/yarn-debug.log*
qendpoint-frontend/yarn-error.log*

scripts/build
release/RELEASE_OUTPUT.md

.idea
data
.nvmrc
