.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: auto;

  display: flex;

  & > * {
    transition-property: width, height;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  & > *:nth-child(2) {
    flex-grow: 1;
  }
}