.dnd {
  border-radius: 4px;
  width: 100%;
  flex: 1;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border 0.2s ease-in-out;

  & > * {
    transition: opacity 0.2s ease-in-out;
  }
  &.isDragging > * {
    opacity: 0.5;
  }

  .center {
    text-align: center;
    .buttons {
      display: flex;
      gap: 10px;
      justify-content: center;
      padding: 10px 0;
    }
  }

  .fileList {
    padding: 10px;
    box-sizing: border-box;
    width: 60%;
    overflow: auto;
    text-align: center;
    :global(.MuiChip-root) {
      max-width: 200px;
      min-height: 32px;
      margin-bottom: 8px;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
