.ul-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
.li-header a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 30px 35px;
    text-decoration: none;
  }
 .li-header img {
    display: block;
    text-decoration: none;
    float: left;
    margin-left: 100px;
 } 
.li-header a:hover:not(.active) {
    background-color: #111;
  }
  