name: Package build and deploy

on:
  workflow_dispatch:
    inputs:
      publish_maven:
        description: "Publish to Maven"
        required: true
        type: boolean
      release_made:
        description: "I have used the scripts/set_version.sh script to set the new version."
        required: true
        type: boolean

jobs:
  check_release:
    name: Check input parameters
    if: ${{ !inputs.release_made }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Release check wasn't checked"
  build:
    name: Building project
    if: ${{ inputs.release_made }}
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version_get.outputs.version }}
    steps:
      - uses: actions/checkout@v2
      - id: version_get
        run: echo "::set-output name=version::$(scripts/get_version.sh)"
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache-dependency-path: hdt-qs-frontend/package-lock.json
      - name: Install frontend dependencies
        run: npm ci --legacy-peer-deps
        working-directory: hdt-qs-frontend
      - name: Validate frontend format
        run: npm run validate
        working-directory: hdt-qs-frontend
      - name: Compiling frontend
        run: npm run build --if-present
        working-directory: hdt-qs-frontend
      - name: Put frontend in backend
        run: |
          mkdir -p hdt-qs-backend/src/main/resources/static/
          cp -r hdt-qs-frontend/build/* hdt-qs-backend/src/main/resources/static/
      - name: Compile backend
        run: mvn install
        working-directory: hdt-qs-backend
      - name: move endpoint
        run: mv hdt-qs-backend/target/qendpoint-*-exec.jar endpoint.jar
      - name: Deploy jar
        uses: actions/upload-artifact@v3
        with:
          name: "endpoint.jar"
          path: "endpoint.jar"
  publish:
    name: Publish to Maven Central
    needs: build
    runs-on: ubuntu-latest
    if: ${{ inputs.publish_maven }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
      - uses: actions/checkout@v2
      - name: maven-settings-action
        uses: s4u/maven-settings-action@v2.5.0
        with:
          servers: '[{"id": "sonatype-nexus-snapshots", "username": "${{ secrets.SONATYPE_NEXUS_USERNAME }}", "password": "${{ secrets.SONATYPE_NEXUS_PASSWORD }}"},{"id": "sonatype-nexus-staging", "username": "${{ secrets.SONATYPE_NEXUS_USERNAME }}", "password": "${{ secrets.SONATYPE_NEXUS_PASSWORD }}"}]'
      - name: Publish to the Maven Central Repository
        run: mvn --batch-mode deploy -P release
        working-directory: hdt-qs-backend
  osx:
    name: Build OSX version
    needs: build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Download endpoint jar
        uses: actions/download-artifact@v3
        with:
          name: "endpoint.jar"
      - name: Create Icon
        run: scripts/create_osx_icon.sh docs/images/logo_fill_icon.png docs/images/mac_icons.icns
      - name: Install gon via HomeBrew for code notarization
        run: |
          brew tap mitchellh/gon
          brew install mitchellh/gon/gon
      - name: Package jar as dmg installer
        env:
          MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.MAOS_CERTIFICATE_PWD }}
          MACOS_KEYCHAIN_PWD: ${{ secrets.MACOS_KEYCHAIN_PWD }}
          MACOS_DEV_ID: ${{ secrets.MACOS_DEVID }}
          MACOS_TEAMID: ${{ secrets.MACOS_TEAMID }}
          AC_PASSWORD: ${{ secrets.NOTARIZATION_PASSWORD }}
        run: scripts/build_package_osx.sh endpoint.jar
      - name: Upload dmg
        uses: actions/upload-artifact@v3
        with:
          name: "endpoint.dmg"
          path: "endpoint.dmg"
  windows:
    name: Build WINDOWS version
    needs: build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Download endpoint jar
        uses: actions/download-artifact@v3
        with:
          name: "endpoint.jar"
      - name: Package jar as msi installer
        run: |
          scripts/build_package.ps1 scripts/jpackage_windows.cfg endpoint.jar
          mv scripts/build/distributions/*.msi endpoint.msi
      - name: Upload installer
        uses: actions/upload-artifact@v1
        with:
          name: "endpoint.msi"
          path: "endpoint.msi"
  linux:
    name: Build LINUX version
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Download endpoint jar
        uses: actions/download-artifact@v3
        with:
          name: "endpoint.jar"
      - name: Package jar as deb installer
        run: |
          scripts/build_package.sh scripts/jpackage_linux.cfg endpoint.jar
          mv scripts/build/distributions/*.deb endpoint.deb
      - name: Upload installer
        uses: actions/upload-artifact@v1
        with:
          name: "endpoint.deb"
          path: "endpoint.deb"
  push_to_docker_hub:
    name: Push to Docker Hub base image
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Download endpoint jar
        uses: actions/download-artifact@v3
        with:
          name: "endpoint.jar"
      - name: Move endpoint
        run: mv endpoint.jar scripts
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: qacompany/qendpoint
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          file: scripts/Dockerfile
          context: scripts
          push: true
          tags: "qacompany/qendpoint:latest,qacompany/qendpoint:${{ needs.build.outputs.version }}"
          labels: ${{ steps.meta.outputs.labels }}
  push_to_docker_hub_wikidata:
    name: Push to Docker Hub wikidata image
    needs:
      - build
      - push_to_docker_hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: qacompany/qendpoint
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          file: scripts/Dockerfile-wikidata
          context: scripts
          push: true
          tags: "qacompany/qendpoint-wikidata:latest,qacompany/qendpoint-wikidata:${{ needs.build.outputs.version }}"
          labels: ${{ steps.meta.outputs.labels }}
  create_release:
    name: Create Github release
    needs:
      - build
      - linux
      - windows
      - osx
      - push_to_docker_hub_wikidata
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: Extract artifacts
        run: |
          mkdir -p deploy_file
          mv endpoint.*/* deploy_file
      - name: Create release body
        run: scripts/build_release_input.sh
      - name: Create release with artifacts
        uses: ncipollo/release-action@v1
        with:
          commit: ${{ github.sha }}
          tag: "v${{ needs.build.outputs.version }}"
          artifacts: "deploy_file/*"
          name: "Release ${{ needs.build.outputs.version }}"
          bodyFile: "release/RELEASE_OUTPUT.md"
          token: ${{ secrets.GITHUB_TOKEN }}
